static/files/clow-whatsapp-agent-flow.json
{
  "meta": {
    "templateName": "Clow - Agente WhatsApp Automatizado"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SEU-WEBHOOK-ID",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        460,
        340
      ],
      "id": "webhook",
      "name": "Webhook Z-API",
      "webhookId": "SEU-WEBHOOK-ID"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nif (body.fromMe) return [];\nif (!body.phone) return [];\nif (body.isGroup) return [];\nconst phone = String(body.phone);\nif (phone.includes('@g.us') || phone === 'status@broadcast') return [];\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        340
      ],
      "id": "filtro",
      "name": "Filtrar Msgs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "text",
              "type": "string",
              "value": "={{ $json.body.text.message || 'mensagem nao suportada' }}"
            },
            {
              "id": "2",
              "name": "customer_phone",
              "type": "string",
              "value": "={{ $json.body.phone }}"
            },
            {
              "id": "3",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.body.senderName || $json.body.chatName || 'Cliente' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        340
      ],
      "id": "map",
      "name": "Extrair Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=COLE SEU PROMPT AQUI.\n\nVoce e o assistente virtual do negocio. Seja simpatico, direto e profissional.\nResponda como uma pessoa real pelo WhatsApp. Respostas curtas (3-4 frases max).\nUse emojis com moderacao.\n\nNOME DO CLIENTE: {{ $json.customer_name }}\nTELEFONE: {{ $json.customer_phone }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1120,
        340
      ],
      "id": "agente",
      "name": "Agente Clow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list",
          "cachedResultName": "deepseek-chat"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1000,
        560
      ],
      "id": "llm",
      "name": "Clow LLM",
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURE-CLOW-VLLM",
          "name": "Clow vLLM"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Z-API').item.json.body.phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1160,
        560
      ],
      "id": "memoria",
      "name": "Memoria"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SEU-INSTANCE-ID/token/SEU-TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "SEU-CLIENT-TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook Z-API').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        340
      ],
      "id": "resposta",
      "name": "Enviar Resposta Z-API"
    }
  ],
  "connections": {
    "Webhook Z-API": {
      "main": [
        [
          {
            "node": "Filtrar Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Msgs": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Agente Clow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clow LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Clow",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente Clow",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente Clow": {
      "main": [
        [
          {
            "node": "Enviar Resposta Z-API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}